.Button {
  /* border: 1px solid red; */
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  left: 17%;
  bottom: 10%;
  border-radius: 40px;
  color: white;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 0.025s ease-out; */
}
.Button:hover {
  cursor: pointer;
}

.Button:active {
  height: 52px;
  width: 52px;
}
