.HintButton {
  /* border: 1px solid rgba(255, 0, 0, 0.4); */
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: absolute;
  left: 15.5%;
  bottom: 25%;
  border-radius: 80px;
  color: white;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 0.05s ease-out; */
}
.HintButton:hover {
  cursor: pointer;
}

.HintButton:active {
  height: 80px;
  width: 80px;
}
